.Home-page #side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 224, 190);
  height: 85vh;
  width: 20vw;
  justify-content: center;
  box-shadow: 15px 0 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.Main-page #side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 224, 190);
  width: 20vw;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 15px 0 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 4;
}

#side-bar ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#side-bar a {
  background: none;
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: white;
  text-align: left;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

#side-bar a:hover {
  color: chocolate;
  background-color: white;

  border-radius: 15px;
}

.logo-image {
  position: absolute;
  top: 80px;
  left: 470px;
  margin: 0;
  padding: 0;
}

.logo-image img {
  width: 600px;
  height: auto;
}

#kanban-list {
  position: absolute;
  left: 22vw;
  top: 10vh;
}
