:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Home-page .navbar {
  background-color: chocolate;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Home-page .navbar img {
  width: 8vh;
  padding: 5px 10px;
}

.Home-page .navbar h1 {
  padding-left: 10px;
}

.Main-page .navbar {
  background-color: chocolate;
  height: 10vh;
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.Main-page .navbar img {
  width: 8vh;
  padding: 5px 10px;
}

.Main-page .navbar h1 {
  padding-left: 10px;
}
#icon-bar {
  all: unset;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#icon-bar:hover {
  all: unset;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #faebd7;
}

footer {
  background-color: antiquewhite;
  height: 5vh;
  width: 100vw;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid grey;
  margin: 20px;
  width: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.priorityHighHeader {
  background-color: #d57278;
}

.priorityHighFooter {
  background-color: #d5727993;
}

.priorityMediumHeader {
  background-color: #e9b372;
}

.priorityMediumFooter {
  background-color: #e9b37292;
}

.priorityLowHeader {
  background-color: #bdb3b9;
}

.priorityLowFooter {
  background-color: #e3dee1;
}

#kanban-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
}

.card {
  border: 1px solid grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease;
  width: 45vh; /* expanded size */
}

.card.expanded {
  width: 55vh;
  height: 29vh;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.cardBody {
  padding: 10px;
}

.cardHeader h4 {
  margin: 0;
}

.cardHeader p {
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.cardFooter {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.cardFooter p {
  margin: 0;
  font-size: smaller;
}

.cardFooter button {
  border-radius: 6px;
  border: none;
  padding: 7px;
  background: #372f3490;
  color: #dfdedf;
}

.cardFooter button:hover {
  background: #372f34e6;
}
