.Main-page {
  display: flex;
  margin-top: 10vh;
}

/*#side-bar {
  display: flex;
  flex-direction: column;
  background-color: #fad5c7;
  height: 85vh;
  width: 20vw;
  justify-content: center;
  box-shadow: 15px 0 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  position: absolute;
  top: 69.9999px;
}

#side-bar ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#side-bar a {
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: #006494;
  text-align: left;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

#side-bar a:hover {
  background-color: #fffcf9;
  padding: 10px;
  border-radius: 15px;
}

#side-bar a:active {
  padding: 10px;
  border-radius: 15px;
}*/

/*#side-bar button {
  background: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #fffcf9;
  background-color: #8cae68;
  padding: 15px;
  text-align: left;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

#side-bar button:hover {
  background-color: #fffcf9;
  color: #8cae68;
}*/

.logo-image {
  position: absolute;
  top: 80px;
  left: 470px;
  margin: 0;
  padding: 0;
}

.logo-image img {
  width: 600px;
  height: auto;
}

#kanban-list {
  position: absolute;
  left: 22vw;
  top: 10vh;
  z-index: 1;
}

#error-msg {
  position: absolute;
  right: 450px;
  top: 300px;
}

textarea {
  min-height: 3ln;
}
.column {
  overflow-y: scroll;
  z-index: 9000;
}
.return-to-home {
  text-decoration: none;
  position: absolute;
  right: 730px;
  top: 400px;
  margin: 0;
  padding: 0;
}

.return-to-home li {
  list-style: none;
  text-decoration: none;
}

.return-to-home a {
  text-decoration: none;
}
